* {
    margin: 0;
    padding: 0;
    font-family: "Amatic SC", cursive;
  }
  
  body {
    background-color: #ffc244;
  }
  
  .wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .clearfix {
    float: none;
    clear: both;
  }
  
  .tbl-full {
    width: 100%;
    font-size: 20px;
  }
  
  .tbl-30 {
    width: 30%;
  }
  
  table tr th {
    border-bottom: 1px solid #00a082;
    padding: 1%;
    text-align: left;
  }
  
  table tr td {
    padding: 1%;
  }
  
  .btn-primary {
    background-color: #00a082;
    border-radius: 30px;
    padding: 1%;
    box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 10%);
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
  }
  
  .btn-primary:hover {
    background-color: #79b0a1;
  }
  
  .btn-secondary {
    background-color: #00a082;
    border-radius: 30px;
    padding: 1%;
    box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 10%);
    color: white;
    text-decoration: none;
    outline: none;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #074233;
  }
  
  .btn-danger {
    margin-left: 2px;
    background-color: #00a082;
    border-radius: 30px;
    padding: 1%;
    box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 10%);
    color: white;
    text-decoration: none;
  }
  
  .btn-danger:hover {
    background-color: #b63434;
  }
  
  .success {
    color: #00a082;
    font-size: 25px;
  }
  
  .error {
    color: #b63434;
    font-size: 25px;
  }
  
  .login-success {
    color: #00a082;
  }
  
  .login-error {
    color: #b63434;
  }
  .menu {
    border-bottom: 1px solid black;
    font-size: 50px;
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu ul li {
    display: inline;
    padding: 1%;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #00a082;
    font-weight: bold;
  }
  
  .menu ul li a:hover {
    color: #00a08383;
  }
  
  .main-content {
    /* background-color: rgb(239, 241, 244); */
    padding: 3% 0;
  }
  
  .col-4 {
    width: 18%;
    margin: 1%;
    padding: 2%;
    background-color: #00a082;
    color: white;
    font-size: 20px;
    float: left;
    border-radius: 30px;
  }
  
  .footer {
    background-color: #1d1d1d;
    color: white;
    font-size: 30px;
  }
  
  #dashboard {
    font-size: 60px;
  }
  
  .login {
    width: 20%;
    background-color: #1d1d1d;
    color: white;
    margin: 10% auto;
    padding: 2%;
    box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 10%);
    border-radius: 30px;
  }